<ul class="fadeInUp animated">
  <li>
    <h4>Sjors Heijman</h4>
    <h6>Elektro</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Dante Klijn</h4>
    <h6>ICT</h6>
    <p align="left">
      Ik ben programmeur.
    <p align="left" />
      Mijn interesses liggen bij het meewerken aan games en in mijn vrije tijd zelf games ontwikkelen.
    <p align="left" />
      Mijn contributies zijn bij het bewegen van de robot, het analyseren van audio en dansbewegingen voor de robot.
    </p>
  </li>
  <li>
    <h4>Jan Hoekstra</h4>
    <h6>ICT</h6>
    <p align="left">
      Ik ben systeembeheerder en programmeur.
      <p align="left" />
      Mijn interesses zijn functioneel programmeren,
      virtualisatie
      en cybersecurity (om precies te zijn netwerkhacking en forensisch onderzoek).
      Wanneer ik niet achter een computer zit, lees ik veel en teken ik af en toe.
      <p align="left" />
      Mijn aandeel in het project is voornamelijk het beheren van deze blog,
      het schrijven van content hiervoor
      en technische documentatie.
    </p>
  </li>
  <li>
    <h4>Rob Klein Ikink</h4>
    <h6>ICT</h6>
    <p align="left">
      Ik ben programmeur en systeemontwerper.
    <p align="left"/>
      Mijn interesses zijn het maken van game engines en het rondtinkeren met C++.
    <p align="left"/>
      Samen met Roland regel ik het Computer Vision gedeelte van het project. Daarnaast hou ik
      mij vooral bezig met het systeemontwerp van de robotapplicatie.
    </p>
  </li>
  <li>
    <h4>Kevin Celinski</h4>
    <h6>ICT</h6>
    <p align="left">
      Ik ben programmeur en tekenaar.
    <p align="left" />
      Mijn interesses liggen vooral bij programmeren en tekenen.
      In mijn vrije tijd werk ik aan kleine games of projecten.
      Als ik niet achter mijn computer zit ben ik wel aan het airsoften of schetsen.
    <p align="left" />
      Mijn contributie tot het project is de beweging van de robot programmeren en de poster maken.
    </p>
  </li>
  <li>
    <h4>Roland Zwart</h4>
    <h6>ICT</h6>
    <p align="left" >Ik ben programmeur en netwerkbeheerder.
    <p align="left" />
    Mijn interesses zijn het helpen van andere mensen en uitpuzzelen van technische problemen.
    <p align="left" />
    Samen met Rob ben ik bezig met computer vision binnen het project.
    Hiernaast zorg ik ervoor dat de door werktuigbouwkunde gemaakte robot werkend in Webots terecht komt,
    zodat de rest van de programmeurs hier gebruik van kunnen maken.
    </p>
  </li>
  <li>
    <h4>Sietze Greydanus</h4>
    <h6>ICT</h6>
    <p align="left">I'd just like to interject for moment. What you're refering to as Kaas, is in fact, Sietze/Kaas, or as I've recently taken to calling it, Sietze plus Kaas. Kaas is not an operating system unto itself, but rather another free component of a fully functioning Sietze system made useful by the Sietze corelibs, shell utilities and vital system components comprising a full OS as defined by POSIX.
    </p></li>
  <li>
    <h4>Rick van der Beek</h4>
    <h6>Werktuigbouwkunde</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Philip van der Meijde</h4>
    <h6>Werktuigbouwkunde</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Patrick Zijlstra</h4>
    <h6>Werktuigbouwkunde</h6>
    <p align="left">
      Ik ben ontwerper en technisch tekenaar.
    <p align="left" />
      Mijn interesse voor het mechanisch domein komt goed terug in dit project.
      Samen met de andere werktuigbouwkundigen ben ik verantwoordelijk voor het construeren van de robot.
      Denk hierbij aan het ontwerpen van een 3D model, maken van technische tekeningen en bij komende sterkte berekeningen.
      Ook probeer ik de ICT jongens te ondersteunen met het importeren van de robot in webots.
    </p>
  </li>
</ul>
