<ul class="fadeInUp animated">
  <li>
    <h4>Sjors Heijman</h4>
    <h6>Elektro</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Dante Klijn</h4>
    <h6>ICT</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Jan Hoekstra</h4>
    <h6>ICT</h6>
    <p align="left">
      Ik ben systeembeheerder en programmeur.
      <p align="left" />
      Mijn interesses zijn functioneel programmeren,
      virtualisatie
      en cybersecurity (om precies te zijn netwerkhacking en forensisch onderzoek).
      Wanneer ik niet achter een computer zit, lees ik veel en teken ik af en toe.
      <p align="left" />
      Mijn aandeel in het project is voornamelijk het beheren van deze blog,
      het schrijven van content hiervoor
      en technische documentatie.
    </p>
  </li>
  <li>
    <h4>Rob Klein Ikink</h4>
    <h6>ICT</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Kevin Celinski</h4>
    <h6>ICT</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Roland Zwart</h4>
    <h6>ICT</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Sietze Greydanus</h4>
    <h6>ICT</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Necip Korkmaz</h4>
    <h6>ICT</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Rick van der Beek</h4>
    <h6>Werktuigbouwkunde</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Philip van der Meijde</h4>
    <h6>Werktuigbouwkunde</h6>
    <p>In te vullen.</p>
  </li>
  <li>
    <h4>Patrick Zijlstra</h4>
    <h6>Werktuigbouwkunde</h6>
    <p>In te vullen.</p>
  </li>
</ul>
